body{
  background: #272343 !important; 
  overflow-x: hidden !important;
}

input{
  border: 0 !important;
  border: 1px solid #ccc !important;
  height: 40px !important;
  padding-left: 10px !important;
  outline: 0 !important;
}
button  {
  background-color: #272343 !important;
  border-radius: 0px !important;
  letter-spacing: 1px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}