body{
  background: #272343 !important; 
  overflow-x: hidden !important;
}

input{
  border: none !important;
  border-radius: 0% !important;
  outline: none !important;
  transition: 0 !important;
  border-color: transparent !important;
  border-bottom: solid 1px #272343 !important;
}

button  {
  background-color: #272343 !important;
  border-radius: 0px !important;
  letter-spacing: 1px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
